@import url('./Webfonts/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  * {@apply text-[#707070] border-slate-400 } 
  img {@apply inline-block }
  input {@apply rounded border p-1 px-2 text-center }
  select {@apply rounded border w-full p-1 px-2 text-center } 
  .bold {@apply font-bold}
  .center {@apply flex justify-center}
  .btn-g {@apply bg-[#00DA1C] text-white w-20 rounded-lg p-1 text-sm }
  .btn-r {@apply bg-[#dc592d] text-white w-20 rounded-lg p-1 text-sm }
  .nav {@apply p-1 mx-2 }
  .activnav {@apply p-1 mx-2 text-slate-700 bold bg-slate-50 rounded }
  .backdrop {@apply bg-black z-10 fixed top-0 left-0 opacity-30 w-[100vw] h-[100vh] text-center }
  .btn {@apply border text-lg text-black rounded-sm rounded-tl-3xl w-48 p-1 border-[#707070] }
  .btn-b {@apply bg-[#BFFCF3] w-20 border border-slate-300 border-l-0 flex text-[#00A2FF] text-center }
  .card1 {@apply border w-full border-slate-300 items-end flex justify-between px-6 py-4 }
  .t_Ration {@apply border p-2 px-4 min-w-[140px] w-[22vw] }
  .not_active {@apply p-1 w-36 m-2 mx-2 }
  .active {@apply p-1 w-36 m-2 mx-4 text-black bg-slate-300 rounded-full }
  .th_Ration {@apply t_Ration bg-slate-200 text-[#494545] }
  .card2 {@apply bg-slate-200 rounded-lg text-right p-4 px-7 ml-5 mt-4 text-sm w-80 grid grid-cols-2 gap-6}
  .info_btn {@apply mx-4 bold hover:underline underline-offset-8 }
  .ads_bar {@apply inline-block hover:text-blue-600 hover:font-medium }
  .text {@apply text-center text-xl italic mt-6}
  /* . {@apply } */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}